body {
    background-color:white;
    border-style: solid;
    border-color: navy;
    margin: 100px;
    padding: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.blog-box {
    border-style: solid;
    border-color: navy;
    margin: 10px;
    box-shadow: 4px 4px 3px 1px cornflowerblue;
    
}

.blog-box-title {
    color: navy;
    font-size: 30px;
    margin: 1px;
}

.description {
    color: navy;
    font-size: 20px;
    margin: 5px; 1px;
}

p {
    color: navy;
    padding: 1px;
    font-size: 12px;
    margin: 1px;
}